{% load staticfiles %} <!-- css 를 사용하기 위해선 static file을 사용해야 한다.  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>게시판</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/about.css' %}" rel="stylesheet"> <!--  이렇게  그리고 settings.py 파일에서 또 뭔갈 바꿔주어야 한다. -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/">Home</a>
          {% if not request.session.usid %}
          <a class="blog-nav-item" href="/login">Login</a>
          {% endif %}
          {% if request.session.usid %}
          <a class="blog-nav-item active" href="/about">about</a>
          <a class="blog-nav-item" href="/logout">Logout</a>
          {% endif %}
        </nav>
      </div>
    </div>
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">의사 소통 하기!</h1>
        <p class="lead blog-description">다른 사람들과 의견을 나눠보아요!</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">정보공유</h2>

            <p>얘기합시다! 다른사람들의 생각을 읽어보아요!<br>
              자신의 이야기도 적어보고<br>다른 사람의 생각도 읽어보는 시간이 됩시다 </p>
          </div><!-- /.blog-main -->
        </div>
      </div>
    </div>




<!-- C\Code\mysite\elections\templates\elections\index.html -->
    <div class="container">
      <table class="table table-striped">
        <tr>
            <td style="width:100px;text-align:center;"><B>번호</B></td>
            <td style="width:300px;text-align:center;"><B>제목</B></td>
            <td style="width:150px;text-align:center"><B>작성자</B></td>
        </tr>
        {% for boards in board %}
        <tr>
            <td style="text-align:center">{{boards.id}}</td>
            <td style="text-align:center;"><a href="/view?id={{boards.id}}">{{boards.subject}}</a></td>
            <td style="text-align:center;">{{boards.writer}}</td>
        </tr>
        {% endfor %}
      </table>
      <form action="/insert" style="display: inline-block;">
        <button type="submit" class="btn btn-default" style="font-family: 'Source Sans Pro', sans-serif;">추가하기</button>
      </form>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
