{% load staticfiles %}
<!-- C\Code\mysite\elections\templates\elections\index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>게시물</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}">
  </head>
<body>
  <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/">Home</a>
          {% if not request.session.usid %}
          <a class="blog-nav-item" href="/login">Login</a>
          {% endif %}
          {% if request.session.usid %}
          <a class="blog-nav-item active" href="/about">about</a>
          <a class="blog-nav-item" href="/logout">Logout</a>
          {% endif %}
        </nav>
      </div>
    </div>
<div class="container" style="margin-top:10px;">
    <table class="table table-striped">
        <tr>
            <td><B>제목</B></td>
            <td style="text-align:center;width:200px;background-color:darkgray"><B>작성자</B></td>
        </tr>
        <tr>
            <td>{{board.subject}}</td></a>
            <td style="text-align:center">{{board.writer}}</td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:center">게시글</td>
        </tr>
        <tr>
          <td>
            <p style="height:500px">{{board.contents}}</p>
          </td>
        </tr>
    </table>

</div>
</body>
</html>
