{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>지뢰사정</title>
</head>
<body>
{% for sper in seperate %}
	{% if sper.seperMine == 1 %}
		<img src="{% static 'css/mine.png' %}">
	{% endif%}
	{% if sper.seperMine == 0 %}
		<img src="{% static 'css/nomine.png' %}">
	{% endif %}
<!--{#	{% if spar.id%10==0 %}#}
		<br>
{#	{% endif %}#}  커스텀 템플릿 태그 (줄바꿈 문자를 넣어주어야 한다 . 스크립틀릿 안에서는 연산자 사용 불가 )-->
{% endfor %}
<h1>#################################</h1>
<h1>플레이어 1 위치 : {{playerP.player1Position}} 플레이어 2 위치 : {{playerP.player2Position}} </h1>
<h1>#################################</h1>
<br>
{% if dice.dice1 == 1 %}
	<img src="{% static 'css/one.png' %}">
{% elif dice.dice1 == 2 %}
	<img src="{% static 'css/two.png' %}">
{% elif dice.dice1 == 3 %}
	<img src="{% static 'css/three.png' %}">
{% elif dice.dice1 == 4 %}
	<img src="{% static 'css/four.png' %}">
{% elif dice.dice1 == 5 %}
	<img src="{% static 'css/five.png' %}">
{% elif dice.dice1 == 6 %}
	<img src="{% static 'css/six.png' %}">
{% endif %}
{% if dice.dice2 == 1 %}
	<img src="{% static 'css/one.png' %}">
{% elif dice.dice2 == 2 %}
	<img src="{% static 'css/two.png' %}">
{% elif dice.dice2 == 3 %}
	<img src="{% static 'css/three.png' %}">
{% elif dice.dice2 == 4 %}
	<img src="{% static 'css/four.png' %}">
{% elif dice.dice2 == 5 %}
	<img src="{% static 'css/five.png' %}">
{% elif dice.dice2 == 6 %}
	<img src="{% static 'css/six.png' %}">
{% endif %}

{% if orders.order == 2 %}
	{% if playerP.player1Position > playerP.player2Position %}
		<h1>플레이어 1 승리</h1>
	{% elif playerP.player2Position > playerP.player1Position %}
		<h1>플레이어 2 승리</h1>
	{% endif %}
{% endif %}
<form action="/insert">
	<input type="submit" value="추가하기">
</form>
<form action="/passnext">
	<input type="submit" value="누르기">	
</form>
</body>
</html>